.empty {
    color: #a0a0a0;
    font-weight: 700;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    border-left: 3px solid #a0a0a0;
    padding-left: 0.75em;
    margin-bottom: 1em;
}
